/*
* @Author: dell
* @Date:   2016-08-11 01:47:54
* @Last Modified by:   dell
* @Last Modified time: 2016-08-11 03:10:40
*/
body{
	background: #f5f5f5;
}
.jd_safeTip{
	width: 100%;
	height: 34px;
	font-size: 13px;
	line-height: 34px;
	text-align: center;
	background: #fff;
	border-bottom: 1px solid #e0e0e0;
}
.jd_safeTip p{
	padding-left: 25px;
	width: 240px;
	position: relative;
	display: inline-block;
}
.jd_safeTip p::before{
	content: " ";
	position: absolute;
	display: block;
	width: 18px;
	height: 18px;
	background: url("../image/safe_icon.png") no-repeat;
	background-size: 18px 18px;
    left:0;
    top: 8px;
}  
 /*共用复选框*/
 .jd_check_box{
 	height: 20px;
 	width: 20px;
 	display: block;
 	background: url("../image/shop-icon.png") no-repeat;
    background-size: 50px 100px;
    background-position: 0 0;
 }
 .jd_check_box[checked]{
 	background-position: -25px 0;
 }
/*店铺*/
.jd_shop{
	margin-top: 10px;
	background: #fff;
}
.jd_shop .jd_shop_tit{
	height: 36px;
	width: 100%;
	border-bottom: 1px solid #e0e0e0;
	border-top: 1px solid #e0e0e0;
}
.jd_shop .jd_shop_tit .tit_check{
	width: 40px;
	height: 35px;
	position: absolute;
}
.jd_shop .jd_shop_tit .tit_check .jd_check_box{
	position: absolute;
	top: 7px;
	left: 10px;
}
.jd_shop .jd_shop_tit .tit_name{
	padding-left: 40px;
	font-size: 12px;
}
.jd_shop .jd_shop_tit .tit_name .imgLogo{
    width: 15px;
    height: 13px;
    display: block;
    float: left;
    margin-top: 10px;
}
.jd_shop .jd_shop_tit .tit_name .name{
	float: left;
	font-size: 13px;
	margin-top: 8px;
	margin-left: 4px;
}
.jd_shop .jd_shop_tit .tit_name .tip{
	float: right;
	color: #d8505c;
	margin-right: 10px;
	margin-top: 8px;
}

.jd_shop .jd_shop_con{
	border-bottom: 1px solid #e0e0e0;
	position: relative;
}
.jd_shop .jd_shop_con .con_check{
	position: absolute;
	width: 40px;
	top: 0;
	left: 0;
}
.jd_shop .jd_shop_con .con_check .jd_check_box{
	position: absolute;
	top: 10px;
	left: 20px;
}
/*商品大盒子*/
.jd_shop .jd_shop_con .con_product{
	margin-top: 10px;
	padding-left: 40px;
	margin-right: 10px;
	padding-bottom: 10px;
}
.jd_shop .jd_shop_con .con_product .con_product_img{
    float: left;
    width: 80px;
    height: 80px;
    margin-right: 10px;
    display: block;
    position: absolute;
}
.jd_shop .jd_shop_con .con_product .con_product_img img{
    width: 100%;
    height: 100%;
    display: block;
}
.jd_shop .jd_shop_con .con_product .con_product_box{
	padding-left: 90px;
}
.jd_shop .jd_shop_con .con_product .con_product_box .name{
	height: 30px;
	line-height: 15px;
	font-size: 13px;
	overflow: hidden;
	display: block;
}